<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>更新間隔</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>default</key>
                <real>3.0</real>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>UpdateInterval</string>
                <key>min</key>
                <real>1.0</real>
                <key>max</key>
                <real>60.0</real>
                <key>showValue</key>
                <true/>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>Font Size</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>default</key>
                <real>12.0</real>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>FontSize</string>
                <key>min</key>
                <real>5.0</real>
                <key>max</key>
                <real>20.0</real>
                <key>showValue</key>
                <true/>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>その他</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>IsLegacyMode</string>
                <key>label</key>
                <string>iPhoneXでレガシーステータスバーを有効化</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>バッテリーが赤色になるまでの%</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSliderCell</string>
                <key>default</key>
                <real>0.20</real>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>BatteryLevelThreshold</string>
                <key>min</key>
                <real>0.0</real>
                <key>max</key>
                <real>1.0</real>
                <key>showValue</key>
                <true/>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>isLowBatteryLevel</string>
                <key>label</key>
                <string>有効</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>RAMの表示方法</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSegmentCell</string>
                <key>default</key>
                <integer>0</integer>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>RAMDisplayType</string>
                <key>validTitles</key>
                <array>
                    <string>使用量 (%)</string>
                    <string>使用量 (MB)</string>
                    <string>空きメモリ (MB)</string>
                    <string>空きメモリ (%)</string>
                </array>
                <key>validValues</key>
                <array>
                    <integer>0</integer>
                    <integer>1</integer>
                    <integer>2</integer>
                    <integer>3</integer>
                </array>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>その他</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>UIStatusBarImageViewHidden</string>
                <key>label</key>
                <string>UIStatusBarImageViewHidden</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>LocaleCountry_JP</string>
                <key>label</key>
                <string>LocaleCountry_JP</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <true/>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>LineBreakModeisNone</string>
                <key>label</key>
                <string>LineBreakModeisNone</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false/>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>symbolhiden</string>
                <key>label</key>
                <string>シンボルを隠す</string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSEditTextCell</string>
                <key>default</key>
                <string>moon.fill</string>
                <key>defaults</key>
                <string>com.main.kiyu4776.ui.statusbar</string>
                <key>key</key>
                <string>symbolName</string>
                <key>label</key>
                <string>シンボルの名前: </string>
            </dict>
            <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string></string>
            </dict>
            <dict>
                <key>action</key>
                <string>Respring</string>
                <key>alignment</key>
                <integer>1</integer>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>Respring</string>
            </dict>
                        <dict>
                <key>cell</key>
                <string>PSGroupCell</string>
                <key>label</key>
                <string>
yyyy: 年（4桁）
M / MM: 月（1 / 01）
MMM / MMMM: 月（略称 / フル）
d / dd: 日（1 / 01）
E / EEEE: 曜日（略称 / フル）

H / HH: 24時間制（0 / 00）
h / hh: 12時間制（1 / 01）
a: AM / PM
m / mm: 分
s / ss: 秒
S / f: ミリ秒</string>
            </dict>
        </array>
        <key>title</key>
        <string>オプション</string>
    </dict>
</plist>